In [6]:
# Import dependencies
import pandas as pd
import os

In [7]:
#Store file in variable path
coffeeshop_file = os.path.join('../','Resources', 'ratings_and_sentiments.csv')

In [8]:
# Read file into DataFrame
coffeeshop_df = pd.read_csv(coffeeshop_file)
coffeeshop_df

,coffee_shop_name,review_text,rating,num_rating,cat_rating,bool_HIGH,overall_sent,vibe_sent,tea_sent,service_sent,seating_sent,price_sent,parking_sent,location_sent,alcohol_sent,coffee_sent,food_sent,hours_sent,internet_sent,local_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5.0 star rating,5,HIGH,1,4,3,0,0,0,0,0,0,1,3,0,0.0,0,0
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, vibe i...",4.0 star rating,4,HIGH,1,3,3,0,0,0,0,0,0,0,0,2,0.0,0,0
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in food seating I...,4.0 star rating,4,HIGH,1,2,2,0,0,3,0,0,0,0,-1,2,0.0,0,0
3,The Factory - Cafe With a Soul,11/25/2016 Very cool vibe! Good drinks Nice se...,2.0 star rating,2,LOW,0,1,0,0,0,-1,-1,0,0,0,0,0,0.0,0,0
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are location within ...,4.0 star rating,4,HIGH,1,2,0,0,0,0,0,3,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7611,The Steeping Room,2/19/2015 I actually step into this restaurant...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,3,-1,0.0,0,0
7612,The Steeping Room,"1/21/2016 Ok, The coffeeing seating IS awesome...",5.0 star rating,5,HIGH,1,1,NaN,0,0,2,0,0,0,0,0,0,0.0,0,0
7613,The Steeping Room,"4/30/2015 Loved coming here for tea, and the v...",4.0 star rating,4,HIGH,1,3,NaN,3,0,0,0,0,0,0,0,0,0.0,0,0
7614,The Steeping Room,8/2/2015 The food is just average. The booths ...,3.0 star rating,3,LOW,0,1,NaN,2,0,0,0,0,0,0,1,0,0.0,0,0
7615,The Steeping Room,5/23/2015 I finally stopped in for food with m...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,0,0,NaN,0,0

In [13]:
# Find all reviews with a number rating greater than or equal to 4.
coffeeshop_df.loc[coffeeshop_df['num_rating']>=4, 'coffee_shop_name']

0       The Factory - Cafe With a Soul
1       The Factory - Cafe With a Soul
2       The Factory - Cafe With a Soul
4       The Factory - Cafe With a Soul
5       The Factory - Cafe With a Soul
                     ...
7610                 The Steeping Room
7611                 The Steeping Room
7612                 The Steeping Room
7613                 The Steeping Room
7615                 The Steeping Room
Name: coffee_shop_name, Length: 6140, dtype: object

In [24]:
# Find all the coffee shops with a overall sentiment greater than or equal to 4.
coffeeshop_df.loc[coffeeshop_df['overall_sent']>=4, 'coffee_shop_name']

0            The Factory - Cafe With a Soul
233                Mozart's Coffee Roasters
931                  Venezia Italian Gelato
1101         The Factory - Cafe With a Soul
1466               Figure 8 Coffee Purveyors
1591                 MaГ±ana Coffee & Juice
2008         The Factory - Cafe With a Soul
2213                      Flat Track Coffee
2595                 Flightpath Coffeehouse
2681    Third Coast Coffee Roasting Company
2831                             Dolce Neve
3051                                Halcyon
3106         The Factory - Cafe With a Soul
3390              Arturo's Underground Cafe
3425              Arturo's Underground Cafe
3787                       Lucky Lab Coffee
4137                                Halcyon
4419                               Tea Haus
4515                    Friends & Neighbors
4530                      Sorrento's Coffee
4576                      Sorrento's Coffee
4771                 Venezia Italian Gelato
5086                                Halcyon
5612                          Dominican Joe
5998                        La Tazza Fresca
6428            Strange Brew, Austin Coffee
6836                                    Teo
6963                          La Patisserie
6999                        My Sweet Austin
7099                              Cafe Java
7148                       Russell's Bakery
7558                      The Steeping Room
Name: coffee_shop_name, dtype: object

In [29]:
# Return the count of the above query.
coffeeshop_df.count()

coffee_shop_name    7616
review_text         7616
rating              7616
num_rating          7616
cat_rating          7616
bool_HIGH           7616
overall_sent        7616
vibe_sent           4507
tea_sent            7616
service_sent        7616
seating_sent        7616
price_sent          7616
parking_sent        7616
location_sent       7616
alcohol_sent        7616
coffee_sent         7616
food_sent           7616
hours_sent          7615
internet_sent       7616
local_sent          7616
dtype: int64

In [32]:
# Change the name of the review_text column to review
coffeeshop_df.rename(columns = {'review_text':'review'}, inplace=True)

In [33]:
# Change the name of the bool_HIGH column to bool_high
coffeeshop_df.rename(columns = {'bool HIGH':'bool_high'}, inplace = True)

In [35]:
# Save your changes to the file as a pipe delimited file.
coffeeshop_df.to_csv('rating_and_sentiments.csv', sep = '|')